apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-config
  namespace: setup-rhdh
data:
  app-config.yaml: |
    app:
      title: Red Hat Developer Hub
      baseUrl: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io

    # Enable guest sign-in without user validation. This configuration
    # is unsafe - only use it for testing when Developer Hub is not
    # connected to upstream sources of data!
    # auth:
    #   providers:
    #     guest:
    #       dangerouslyAllowOutsideDevelopment: true
  
    signInPage: oidc
    
    auth:
      environment: production
      session:
        secret: replace-with-a-random-value
      providers:
        oidc:
          production:
            metadataUrl: ${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            prompt: auto

    backend:
      baseUrl: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io
      cors:
        origin: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io

    catalog:
      providers:
        keycloakOrg:
          default:
            baseUrl: ${KEYCLOAK_BASE_URL}
            loginRealm: ${KEYCLOAK_REALM}
            realm: ${KEYCLOAK_REALM}
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            schedule:
              frequency:
                minutes: 5
              timeout:
                minutes: 3
              initialDelay:
                seconds: 15
        # Our new GitLab provider that will synchronize catalog-info.yaml
        # from our repositories in GitLab to the Software Catalog
        gitlab:
          yourProviderId:
            host: ${GITLAB_HOST}
            orgEnabled: true
            group: rhdh
            # Normally the entity filename is just set to catalog-info.yaml
            # In this case we're hardcoding a path to a specific example file
            entityFilename: discovery-example/catalog-info.yaml
            schedule:
              frequency:
                minutes: 1
              timeout:
                minutes: 3
    integrations:
      gitlab:
        - host: ${GITLAB_HOST}
          baseUrl: https://${GITLAB_HOST}
          apiBaseUrl: https://${GITLAB_HOST}/api/v4
          token: ${GITLAB_TOKEN}
  
    argocd:
      appLocatorMethods:
        - type: config
          instances:
            - name: argocd
              url: ${ARGOCD_URL}
              username: ${ARGOCD_USERNAME}
              password: ${ARGOCD_PASSWORD}

    permission:
      enabled: true
      rbac:
        policies-csv-file: /opt/app-root/src/rbac-policies.csv
        admin:
          users:
            - name: user:default/admin
