apiVersion: v1
kind: ConfigMap
metadata:
  name: rhdh-config
  namespace: setup-rhdh
data:
  app-config.yaml: |
    app:
      title: Red Hat Developer Hub
      baseUrl: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io

    # Enable guest sign-in without user validation. This configuration
    # is unsafe - only use it for testing when Developer Hub is not
    # connected to upstream sources of data!
    # auth:
    #   providers:
    #     guest:
    #       dangerouslyAllowOutsideDevelopment: true
  
    signInPage: oidc
    
    auth:
      environment: production
      session:
        secret: replace-with-a-random-value
      providers:
        oidc:
          production:
            metadataUrl: ${KEYCLOAK_BASE_URL}/realms/${KEYCLOAK_REALM}/.well-known/openid-configuration
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            prompt: auto

    backend:
      baseUrl: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io
      cors:
        origin: https://backstage-rhdh-setup-rhdh.apps.cluster-fpfw7.dynamic.redhatworkshops.io

    catalog:
      providers:
        keycloakOrg:
          default:
            baseUrl: ${KEYCLOAK_BASE_URL}
            loginRealm: ${KEYCLOAK_REALM}
            realm: ${KEYCLOAK_REALM}
            clientId: ${KEYCLOAK_CLIENT_ID}
            clientSecret: ${KEYCLOAK_CLIENT_SECRET}
            schedule:
              frequency:
                minutes: 5
              timeout:
                minutes: 3
              initialDelay:
                seconds: 15